[submodule "baseline/LaneGCN"]
	path = baseline/LaneGCN
	url = https://github.com/uber-research/LaneGCN
[submodule "baseline/argoverse-api"]
	path = baseline/argoverse-api
	url = https://github.com/argoai/argoverse-api
[submodule "pretext_tasks/LaneGCN"]
	path = pretext_tasks/LaneGCN
	url = https://github.com/uber-research/LaneGCN
[submodule "pretext_tasks/argoverse-api"]
	path = pretext_tasks/argoverse-api
	url = https://github.com/argoai/argoverse-api
